#
# THIS FILE IS LOCATED IN /etc/fail2ban/jail.local
#


# DEFAULTS
[DEFAULT]
bantime = 1h
findtime = 15m

# SSH 
[sshd]
enabled = true
port = 22
filter = sshd
logpath = /var/log/auth.log
maxretry = 3

# NGINX
[nginx-http-auth]
enabled  = true
filter   = nginx-http-auth
port     = http,https
logpath  =  /var/log/nginx/error.log
            /var/log/nginx/site01.com/error.log 
            /var/log/nginx/site02.com/error.log
maxretry = 3
