@import "https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700";
body {
    font-family: 'Muli', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Muli', sans-serif;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #203890;
}

.btn-primary {
    color: #fff;
    background-color: #203890 !important;
    border-color: #203890 !important;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.delObjects {
    float:left;
    border:1px solid #CCC;
}

.delObjects:hover {
    background-color:#FFF;
    border:1px solid #999;

}

.logPath {
    font-size:12px;
}

.clearBoth {
    clear:both;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
